<div class="col-lg">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Review Form</h5>
            <form action="/dashboard/reviews/create-review" method="POST">
                <div class="row mb-3">
                    <label for="rental" class="col-sm-2 col-form-label">Rental</label>
                    <div class="col-sm-10">
                    <select id="rental_id" name="rental_id" class="form-select" aria-label="Default select example">
                        <option selected="">Select Rental</option>
                        <% for(var i=0; i < rentals.length; i++) { %>
                            <option value="<%= rentals[i].id %>"><%= rentals[i].id %></option>
                        <% } %>
                    </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="rating" class="col-sm-2 col-form-label">Rating Review</label>
                    <div class="col-sm-10">
                        <input type="number" id="rating" name="rating" placeholder="Rating Review" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="komentar" class="col-sm-2 col-form-label">Komentar</label>
                    <div class="col-sm-10">
                        <textarea type="text" id="komentar" name="komentar" placeholder="Tuliskan Komentar Anda" class="form-control" style="height: 100px"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <button type="submit" class="btn btn-primary">Send Review</button>
                </div>
            </form>
        </div>
    </div>
</div>