<div class="card">
    <div class="card-body">
        <h5 class="card-title">Daftar Rental</h5>
        <table id="rentalsTable" class="table datatable datatable-table">
            <thead>
                <tr>
                    <th>aaa</th>
                    <th>aaa</th>
                    <th>aaa</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>aaa</td>
                    <td>aaa</td>
                    <td>aaa</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>